
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

.contanier{
  display: flex;
}


.mini-contanier{
display: flex;
flex-direction: column;
}

*{
  font-family: Amiko;
}